<div class="container main-content">
    <div class="row">
        <!-- <section [ngClass]="showAddProduct || showEditProduct ? 'col-md-12' : 'col-md-12'"> -->
           <section> 
            <div class="product-header">
                <h1>Product List
                    <!--refresh button-->
                    <span *ngIf="!isLoading" (click)="refresh()" style="cursor:pointer;">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </span>
                    <i *ngIf="isLoading" class="fa fa-refresh fa-spin fa-fw" aria-hidden="true"></i>
                </h1>
                <button *ngIf="!showAddProduct" type="button" class="btn btn-outline-primary" (click)="showAddProducts()">Add Product</button>
                <!--<button *ngIf="showAddProduct" type="button" class="btn btn-outline-primary" (click)="hideAddProducts()">Close Products</button>-->
            </div>
            <div class="table-responsive">

            <table class="table">
            <thead class="thead-light t-head">
                <tr>
                    <th scope="col">Product Id</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Description</th>
                    <th scope="col">Created Date</th>
                    <th scope="col">Quantity in kgs</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Availability</th>
                    <th scope="col">Product Actions</th>
                </tr>
            </thead>
            <tbody>
                
                    <!--ngclass directive
                  --------------------------------
                    1.ternary operator (?) use to check boolean values
                        ? -> means is true
                    <td [ngClass]="isLowInventory ? 'bg-danger' : ''">{{getDhalStorage()}}</td>
                
                        ngStyle
                    ----------------
                    <td [ngStyle]="isLowInventory ? {'background-color':'red'} : {}">{{getDhalStorage()}}</td>
                    
                    -->

                    <!--ngFor-->
                    <!--when a row clicked its bg  color will change-->
                    <tr *ngFor="let product of products let i = index" (click)="selectProduct(i,product)" [ngClass]="rowIndex == i ? 'active' : '' ">
                        <th scope="row">{{product.id}}</th>
                        <td>{{product.productName}}</td>
                        <!-- custom pipe -->
                        <td>{{product.description| contentLimiter}}</td>
                        <!-- date pipe with parameters
                        <td>{{product.createdDate | date : "MM/dd/yy"}}</td> -->
                        
                        <!--pipe chaining-->
                        <td>{{product.createdDate | date | uppercase}}</td>
                        <td>{{product.quantity}}</td>
                        <!--currency pipe with parameters-->
                        <td>{{product.unitPrice | currency : "Rs."}}</td>
                        
                        
                        <!--ngIf-->
                        <td>
                            <p *ngIf="product.quantity <= 50">Lower Inventory Level</p>
                            <p *ngIf="product.quantity > 50">Sufficient Inventory Level</p>    
                        </td>
                        <td>
                            
                            
                            <a [routerLink]="['product-detail-view',product.id]">
                            <button type="button" [disabled]="!(rowIndex==i && isRowSelected)" class="btn-xs icon"><i class="fa fa-eye"></i></button>
                            </a>
                            <button type="button" [disabled]="!(rowIndex==i && isRowSelected)" class="btn-xs icon" (click)="OpenEditProductView()"><i class="fa fa-pencil-square-o"></i></button>
                        </td>
                        <!--
                            <div [ngStyle]=" country == 'SL' ? {'background-color': 'green'} : {'background-color': 'red'} ">My Country</div>
                        -->    
                    </tr>    
            </tbody>
            </table>
        </div>
        </section>
        <section class="content-new" *ngIf="showAddProduct || showEditProduct">
            <app-add-products *ngIf="
            showAddProduct" (productAddEvent)="updateProductList()" (closeAddEvent)="closeAddView()"></app-add-products>

            <!--parent to child data sharing through input decorator-->
            <app-edit-product id="AddProduct" *ngIf="showEditProduct" [product]="selectedProduct" (cancelEditEvent)="closeEditView()" (editProductEvent)="updateProductList()"></app-edit-product>
        </section>
        <router-outlet></router-outlet>
    </div>


    <!--
    source-to-view data binding
    ----------------------------
    syntax -> [target] = "Expression"    

    eg :- <button [disabled]="isUnchanged">Save</button>
            *this will make button disabled when isChanged property set to true in component.ts file 
    -->
    <!--
    view-to-source data binding
    -----------------------------
    <button (click)="onSave()">save</button>
    -->
</div>