<div class="container-fluid main-content">
    <div class="row">
        <section class="col-md-12">
            <div class="mt-3 mb-3">
                <h3>Product list</h3>
            </div>
            <table class="table">
            <thead class="thead-light t-head">
                <tr>
                    <th scope="col">Product Id</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Description</th>
                    <th scope="col">Created Date</th>
                    <th scope="col">Quantity in kgs</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Availability</th>
                    <th scope="col">Product Actions</th>
                </tr>
            </thead>
            <tbody>
                
                    <!--ngclass directive
                  --------------------------------
                    1.ternary operator (?) use to check boolean values
                        ? -> means is true
                    <td [ngClass]="isLowInventory ? 'bg-danger' : ''">{{getDhalStorage()}}</td>
                
                        ngStyle
                    ----------------
                    <td [ngStyle]="isLowInventory ? {'background-color':'red'} : {}">{{getDhalStorage()}}</td>
                    
                    -->

                    <!--ngFor-->
                    <tr *ngFor="let product of products">
                        <th scope="row">{{product.productId}}</th>
                        <td>{{product.productName}}</td>
                        <td>{{product.productDescription}}</td>
                        <td>{{product.createdDate}}</td>
                        <td>{{product.unitPrice}}</td>
                        <td>{{product.quantity}}</td>
                        
                        <!--ngIf-->
                        <td>
                            <p *ngIf="product.quantity <= 50">Lower Inventory Level</p>
                            <p *ngIf="product.quantity > 50">Sufficient Inventory Level</p>    
                        </td>
                        <td>
                            <i class="fa fa-eye icon"></i>
                            &nbsp;
                            <i class="fa fa-pencil-square-o icon"></i>
                        </td>
                        <!--
                            <div [ngStyle]=" country == 'SL' ? {'background-color': 'green'} : {'background-color': 'red'} ">My Country</div>
                        -->    
                    </tr>    
            </tbody>
            </table>
        </section>
    </div>
</div>