<div class="container-fluid main-content">
    <div class="row">
        <section class="col-md-12">
            <div class="mt-3 mb-3">
                <h3>Product list</h3>
            </div>
            <table class="table">
            <thead class="thead-light t-head">
                <tr>
                    <th scope="col">Product Id</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Description</th>
                    <th scope="col">Created Date</th>
                    <th scope="col">Quantity in kgs</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Product Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>{{firstProductItemName}}</td>
                    <td>White Basmathi Rice imported from pakistan</td>
                    <td>Jan 29, 2020</td>
                    <td>{{quantityOfRice+1}}</td>
                    <td>Rs. 400</td>
                    <td>
                        <i class="fa fa-eye icon"></i>
                        <i class="fa fa-pencil-square-o icon"></i>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>flour</td>
                    <td>Super Fine Whole grain general Prupose Flour</td>
                    <td>Jan 29, 2020</td>
                    <td>50</td>
                    <td>Rs. 190</td>
                    <td>
                        <i class="fa fa-eye icon"></i>
                        <i class="fa fa-pencil-square-o icon"></i>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Sugar</td>
                    <td>White sugar manufactured by Palwatte Factory</td>
                    <td>Jan 29, 2020</td>
                    <td>1200</td>
                    <td>Rs. 200</td>
                    <td>
                        <i class="fa fa-eye icon"></i>
                        <i class="fa fa-pencil-square-o icon"></i>
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Dhal</td>
                    <td>Imported mysoor dhal from India</td>
                    <td>Jan 29, 2020</td>
                    <td>10</td>
                    <td>Rs. 200</td>
                    <td>
                        <i class="fa fa-eye icon"></i>
                        <i class="fa fa-pencil-square-o icon"></i>
                    </td>
                </tr>
            </tbody>
            </table>
        </section>
    </div>
</div>